image {
width: 1170px;

}
#primero{
    width: 1170px; 
}
#headerr{
width: 1170px;
    margin: 30px auto;
overflow: hidden;
}

#barra{
    width: 1170px;
    background: #852C84;
}
#headerr ul{
    list-style: none;
    width: 2800px;
    display: flex;
    animation: slide 20s infinite alternate;
}


@keyframes slide{
    0% {margin-left: 0px;}
    20% {margin-left: 0px;}

    25% {margin-left: -700px;}
    45% {margin-left: -700px;}

    50% {margin-left: -1400px;}
    70% {margin-left: -1400px;}

    75% {margin-left: -2100px;}
    100% {margin-left: -2100px;}
}
h3{
    margin: 0;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    font-family: Georgia;
}
h2{
    font-family: Georgia;
}
.contenedor{
    background-color: white;
    padding: 1em;
    overflow: hidden;
    width: 1195px;
}
.item{
    margin: 1em;
    padding: 1em;
    color: white;
    float: left;
    height: 110px;
    width: 258px;
}
#item1{
    background-color: #852C84;
}
#item2{
    background-color: #852C84;
}
#item3{
    background-color: #852C84;
}
#item4{
    background-color: #852C84;
}
