image {
width: 1170px;

}
#primero{
    width: 1170px; 
}
#headerr{
width: 1170px;
    margin: 30px auto;
overflow: hidden;
}

#barra{
    width: 1170px;
    background: #852C84;
}
#headerr ul{
    list-style: none;
    width: 2800px;
    display: flex;
    animation: slide 20s infinite alternate;
}


@keyframes slide{
    0% {margin-left: 0px;}
    20% {margin-left: 0px;}

    25% {margin-left: -700px;}
    45% {margin-left: -700px;}

    50% {margin-left: -1400px;}
    70% {margin-left: -1400px;}

    75% {margin-left: -2100px;}
    100% {margin-left: -2100px;}
}
h3{
    margin: 0;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    font-family: Georgia;
}
h2{
    font-family: Georgia;
}
.contenedor{
    background-color: white;
    padding: 1em;
    overflow: hidden;
    width: 1195px;
}
.item{
    margin: 1em;
    padding: 1em;
    color: white;
    float: left;
    height: 110px;
    width: 258px;
}
#item1{
    background-color: #852C84;
}
#item2{
    background-color: #852C84;
}
#item3{
    background-color: #852C84;
}
#item4{
    background-color: #852C84;
}
#noticia h2{
    border-bottom: 3px solid #852C84;
    width: 1145px;
    
    margin-bottom: 18px;
}
#contact h2{
    border-bottom: 25px solid #852C84;
    width: 1170px;
    margin-bottom: 10px;
}
#diseño h2{
    border-bottom: 15px solid #08c;
    width: 1170px;
    margin-bottom: 10px;
}
.col-md-4{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.login{
    background: #E0D1D1;
    width: 450px;
    padding: 48px 40px 36px;
    box-sizing: inherit;
    height: 505px;
    

}
.enlaces{
    
    color: white;
    float: left;
    height: 110px;
    width: 258px;
}
#logo_pie {
    width: auto;
    height: auto;
    background-color: #E6E6E7;
   
}
#logo_pie {
    border-top: 5px solid #852C84;
}
#logo_pie img {
    margin-top: 0%;
    margin: 8px;
}
img {
    max-width: 100%;
}
